<!-- productos/templates/inicio.html -->
{% extends 'base.html' %}
{% block title %}Inicio - Sistema de Gestión de Productos{% endblock %}
{% block header %}
    <h2>Bienvenido al Sistema de Gestión de Productos</h2>
{% endblock %}
{% block content %}
    <article>
        <h2>¿Por qué lo usamos?</h2>
        <p>Usamos un sistema de gestion de inventarios para llevar un control preciso de nuestros productos,
            asegurando que siempre tengamos el STOCK adecuado para sastifacer la demanda de nuestros  
            Clientes. Esto nos permite optimizar el almacenamiento, evitar faltantes o excesos y mejorar 
            la eficiencia en la entrega. Ademas, nos ayuda a reducir costos y a ofrecer una experiencia de compra 
            más rapida y confiable.  
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
        En pocas palabras, este sistema nos permite ser más eficientes y brindar un mejor servicio
    </aside>
{% endblock %}